<% content_for(:title, t('.title')) %>
<div class="mask d-flex align-items-center h-100" style="background-color: #f2faef;">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xl-5 col-md-8">
        <div class="bg-white rounded shadow-5-strong p-5">
          <h4 class="row justify-content-center mb-4"><%= t '.title' %></h4>
          <%= form_with url: password_resets_path, local: true do |f| %>
            <!-- Email input -->
            <div class="form-group mb-4">
              <%= f.label :email, User.human_attribute_name(:email) %><br />
              <%= f.email_field :email, class: 'form-control' %>
            </div>

            <!-- Submit button -->
            <div class="form-group mb-4">
              <%= f.submit (t 'password_resets.new.submit'), class: 'btn btn-register', style: 'width: 100%;' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>