<div class="col-sm-12 col-lg-4 mb-3">
  <div id="stub-id-<%= stub.id %>">
    <div class="card">
      <%= I18n.t("activerecord.attributes.stub.statuses.#{stub.status}") %>
      <%= link_to stub_path(stub) do %>
        <%= image_tag stub.stub_image_url, class: 'card-img-top', size: '50x300' %>
      <% end %>
      <div class="card-body">
        <h5 class="card-title">
          <%= stub.title %>
          <% if current_user.own?(stub) %>
            <%= render 'crud_menus', stub: stub %>
          <% else %>
            <span id="js-like-button-for-stub-<%= stub.id %>" data-turbo-frame="js-like-button-for-stub-<%= stub.id %>">
              <%= render 'likes/like', stub: stub%>
            </span>
          <% end %>
        </h5>
        <ul class="list-inline">
          <li class="list-inline-item">
            日付：<%= stub.date %>
          </li>
          <li class="list-inline-item float-end">
            <%= I18n.t('categories.' + stub.category.name) %>
          </li>
        </ul>
        <li class="list-inline-item">
          <%= stub.user.name %>
        </li>
        <li class="float-end list-inline-item small text-muted">
          登録日：<%= stub.created_at.strftime("%Y-%m-%d") %>
        </li>
      </div>
    </div>
  </div>
</div>
