<div class="col-sm-12 col-lg-3 mb-3">
  <div id="stub-id-<%= stub.id %>">
    <div class="card rounded-5 shadow border-0">
      <%= I18n.t("activerecord.attributes.stub.statuses.#{stub.status}") %>
      <%= link_to stub_path(stub) do %>
        <%= image_tag stub.stub_image_url, class: 'card-img-top', size: '120x230' %>
      <% end %>
      <div class="card-body">
        <h5 class="card-title">
          <%= stub.title %>
          <% if current_user.own?(stub) %>
            <%= render 'crud_menus', stub: stub %>
          <% else %>
            <span id="js-like-button-for-stub-<%= stub.id %>" data-turbo-frame="js-like-button-for-stub-<%= stub.id %>">
              <%= render 'likes/like', stub: stub%>
            </span>
          <% end %>
        </h5>
        <ul class="list-unstyled">
          <li>
            <%= stub.date %>
          </li>
          <li>
            <%= I18n.t('categories.' + stub.category.name) %>
          </li>
          <li>
            <%= stub.user.name %>
          </li>
          <li class="small text-muted float-end">
            登録日：<%= stub.created_at.strftime("%Y-%m-%d") %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
