<div class="col-sm-12 col-lg-4 mb-3">
  <div id="stub-id-<%= stub.id %>">
    <div class="card">
      <%= image_tag stub.stub_image_url, class: 'card-img-top', size: '100x300' %>
      <div class="card-body">
        <h5 class="card-title">
          <a href="#">
            <%= stub.title %>
          </a>
          <div class='float-end'>
            <a href="#" class="bi bi-pencil-fill" style="margin-right: 10px;"></a>
            <a href="#" class="bi bi-trash-fill"></a>
          </div>
        </h5>
        <ul class="list-inline">
          <li class="list-inline-item">
            日付：<%= l stub.date %>
          </li>
        </ul>
          <li class="float-end list-inline-item small text-muted">
            投稿日時：<%= l stub.created_at, format: :long %>
          </li>
      </div>
    </div>
  </div>
</div>
