<% content_for(:title, t('.title')) %>
<div class="container pt-3">
  <div class="d-flex justify-content-center">
    <div class="col-md-6">
      <!-- 検索フォーム -->
      <%= search_form_for @q, url: my_liking_stubs_path do |f| %>
        <div class="input-group mb-3">
          <%= f.search_field :stub_title_or_stub_memo_cont, class: 'form-control', placeholder: t('defaults.search_word') %>
          <div class="input-group-append">
            <%= f.submit class: 'btn btn-primary' %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
  <div class="add-stub d-flex justify-content-center">
    <%= link_to new_stub_path do %>
      <i class="bi bi-plus-circle add-stub-icon">add stub</i>
    <% end %>
  </div>

  <!-- 掲示板一覧 -->
  <div class="row">
    <div class="col-12">
      <div class="row">
        <% if @liked_stubs.present? %>
          <%= render @liked_stubs %>
        <% else %>
          <p><%= t('.no_result') %></p>
        <% end %>
      </div>
      <%= paginate @liked_stubs %>
    </div>
  </div>
</div>